VirtualDrive/*.*
!VirtualDrive/dir.cfg
VirtualDrive/home/*.*
!VirtualDrive/home/empty.txt
VirtualDrive/tmp/*.*
!VirtualDrive/tmp/empty.txt
VirtualDrive/tmp/cache
VirtualDrive/bin/*.*
!VirtualDrive/bin/empty.txt
VirtualDrive/usr/*.*
!VirtualDrive/usr/empty.txt
VirtualDrive/root/*.*
!VirtualDrive/root/empty.txt
!VirtualDrive/root/.config
!VirtualDrive/root/.bashrc
VirtualDrive/etc/*.*
!VirtualDrive/etc/empty.txt
VirtualDrive/bin/autorun/*.*
!VirtualDrive/bin/autorun/empty.txt
VirtualDrive/tmp/packageCache/*.*
!VirtualDrive/tmp/packageCache/empty.txt
.vscode/*/*.*
.vscode/*.*
node_modules
token.txt
workspace.code-workspace
