VirtualDrive/home/*.*
!VirtualDrive/home/empty.txt
VirtualDrive/tmp/*.*
!VirtualDrive/tmp/empty.txt
VirtualDrive/bin/*.*
!VirtualDrive/bin/empty.txt
VirtualDrive/usr/*.*
!VirtualDrive/usr/empty.txt
VirtualDrive/root/*.*
!VirtualDrive/root/empty.txt
VirtualDrive/etc/*.*
!VirtualDrive/etc/empty.txt
git-install.js
jakis-sus-pakiet.js
node_modules
