VirtualDrive/*.*
!VirtualDrive/dir.cfg
VirtualDrive/home/*.*
!VirtualDrive/home/empty.txt
VirtualDrive/tmp/*.*
!VirtualDrive/tmp/empty.txt
VirtualDrive/tmp/cache
VirtualDrive/bin/*.*
!VirtualDrive/bin/empty.txt
VirtualDrive/usr/*.*
!VirtualDrive/usr/empty.txt
VirtualDrive/root/*.*
!VirtualDrive/root/empty.txt
!VirtualDrive/root/.config
VirtualDrive/etc/*.*
!VirtualDrive/etc/empty.txt
VirtualDrive/bin/autorun/*.*
!VirtualDrive/bin/autorun/empty.txt
VirtualDrive/tmp/packageCache/*.*
!VirtualDrive/tmp/packageCache/empty.txt
.vscode/*/*.*
.vscode/*.*
git-install.js
jakis-sus-pakiet.js
node_modules
Lost&Found
token.txt
workspace.code-workspace
1main.js
